.dropdown {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

.dropdown>div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--grey);
}

.dropdown div div {
    cursor: pointer;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.dropdown p {
    padding: 0px 20px 20px 40px;
    display: none;
}

.dropdown ul,
.dropdown ol {
    display: none;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 150%;
    padding-left: 60px;
    padding-bottom: 20px;
}

.dropdown div div:hover {
    background-color: var(--cream-background);
}

.dropdown .active {
    background-color: var(--cream-background);
}

.dropdown .active svg {
    transform: rotate(180deg);
}

.dropdown .active h3 {
    font-weight: 700;
}

.dropdown .active p,
.dropdown .active ul,
.dropdown .active ol {
    display: block;
    text-align: left;
}